<!DOCTYPE html>
<html>
<head>
	<title>Literature Professional</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<center>
    <div style="padding-top:30px">
        
        <button type="button" class="btn btn-info" onclick="load_word()">Word Category</button>
        <button type="button" class="btn btn-info" onclick="load_test()">Review Question</button>
        
    </div>
</center>

<hr>

<div class="embed-responsive embed-responsive-16by9">
  <iframe id="if" class="embed-responsive-item" src="word_category.php"></iframe>
</div> 

<script type="text/javascript">
    
    function load_word() {
        document.getElementById('if').src = "word_category.php";
    }

    function load_test() {
        document.getElementById('if').src = "review_test.php";
    }

</script>

</body>
</html>