<!DOCTYPE html>
<html>
<head>
	<title>Literature Professional</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Inepter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../interface/index.php">Home <span class="sr-only">(current)</span></a></li>
    </ul>
  </div>
</nav>

<center>
    <div style="padding-top:30px">
        
        <button type="button" class="btn btn-info" onclick="load_word()">Word</button>
        <button type="button" class="btn btn-info" onclick="load_test()">Question</button>
        
    </div>
</center>

<hr>

<div class="embed-responsive embed-responsive-16by9">
  <iframe id="if" class="embed-responsive-item" src="submit_word.html"></iframe>
</div> 

<script type="text/javascript">
    
    function load_word() {
        document.getElementById('if').src = "submit_word.html";
    }

    function load_test() {
        document.getElementById('if').src = "submit_test.html";
    }

</script>

</body>
</html>